/*-----------VAR-----------*/
    /*-PICTURE-*/
$sizepictureLarge: 300px;
$sizepictureMedium: 300px;
    /*-BORDER-*/
$borderRadius: 25px;
    /*-COLOR-*/
$backgroundWhite: white;
$backgroundgraylight: #f8f7f5;
$graybutton:#eff0f2;
    /*-TEXT-*/
$center: center;
$marginTextBurger:35px 35px;

/*-----------Mixin-----------*/
@mixin color($element, $value){
    #{$element} : $value;
}

@mixin margin(){
   margin-right: auto;
   margin-left: auto;
}

@mixin buttonNumber(){
    width: 40px;
    height: 65px;
     /*BORDER*/
     border: 1px #eff0f2;
}

@mixin tailleCartes(){
    width: 350px;
    height: 500px;
}

/*-----------ALL-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

h2{
    font-family: 'Martel', serif;
    font-size: 2.9rem ;
}

h4{
    font-family: 'Martel', serif;
    font-size: 1.5rem ;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem ;
    font-style: italic;
    font-weight: 400;
    color: #838383;
}


button{
    border:none;
    border-radius: $borderRadius;
}


body {
    @include color(background,$backgroundgraylight);
    /*-----------FLEX - TOTAL -----------*/
    display: flex;
}

aside{
    @include color(background,$backgroundWhite);
    border-radius: 25px 0px 0px 25px;
    width: 120px ;
    height:1400px ;
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 5px;

    /*-----------search-----------*/
    .search{
        text-align: center;
        margin-top: 60px;
        font-size: 25px;
        /*Center*/
        }

        .search:hover{
            color: #f06c4e;
            font-size: 30px;
            /*Center*/
            }
}

main {
    @include color(background,$backgroundWhite);
    border-radius: 0px 25px 25px 0px;
    width: 1500px ;
    height:1400px ;
    margin-top: 100px;

    /*-----------MENU-----------*/
    #Menu {
    /*CONTAINER FLEX*/
    display: flex;
    align-items: center;

  .Menu_link {
    height: 6vw;
    width: 6vw;
    text-align: center;
    padding: 3px 3px;
    @include color(color,black);
    font-weight: 800;
    font-size: 0,8em;
    font-family: 'Martel', serif;
    margin-top: 60px;
  }
  
  .Menu_link:hover {
    color:#f06c4e;
    font-weight: 800;
    font-size: 1em;
  }

}

.click{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -120px;
    margin-right: 20px;

.click_log{
    @include color(background,#f06c4e);
    @include color(color,white);
    padding: 15px 40px;
    margin-right: 20px;
  }

  .click_sign{
    @include color(background,#fef0ed);
    @include color(color,#f06c4e);
    padding: 15px 40px;
  }

  .click_log:hover{
    @include color(background,#fef0ed);
    @include color(color,#f06c4e);
  }

  .click_sign:hover{
    @include color(background,#f06c4e);
    @include color(color,white);

  }

}

/*-----------CONTAINER-----------*/
.container {
    /*-----------GRID-----------*/
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:'container--columnOne container--columnTwo container--columnThree'
                        'container--columnOne container--columnTwo container--columnThree' 
                        'container--columnOne container--columnTwo container--columnThree'
                        'container--columnOne container--columnTwo container--columnThree' 
                        ; 
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 60px 40px 20px 40px;
    height: 1300px;


    /*-----------CARD-----------*/
    &_columnOne {
        @include color(background,$backgroundWhite);
        border-radius: $borderRadius;
        border: 3px solid $backgroundgraylight;
        margin-bottom: 30px;

        /*CAROUSEL BUNTON*/

        .carousel{
            margin: $marginTextBurger;
        }

        #carouselButton{
            @include color(color,#d2d1d1);
        }

        #carouselButton:hover{
            @include color(color,#f06d4f);
        }

        &_picture {
            width: $sizepictureLarge;
            /*Permet de centrer l'image*/
            display: block;
            @include margin();
        }

        &_title{
            margin: $marginTextBurger;
        }

        .flexinfo{
            display:flex;
            .info{
                @include margin();
                border-radius: $borderRadius;
                border: solid 2px #e8eaed;
                padding: 10px 15px;
                font-size: 12px;
            }
        }

        &_text{
            margin: $marginTextBurger;
        }
        /*-----BUTTON----*/
        .flexButton{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .flexButton_bloc{

            #addition{
                @include color(background,$graybutton);
                @include buttonNumber();
                margin-right: -15px;
                margin-left: 30px;
                /*BORDER*/
                border-radius: 10px;
                border-style: none none none solid;
            }
    
            #result{
                @include color(background,$graybutton);
                @include buttonNumber();
                 /*BORDER*/
                 border-radius: 0px;
                 border-style: none none none none;
            }
    
            #substraction{
                @include color(background,$graybutton);
                @include buttonNumber();
                margin-left: -15px;
                border-radius: 10px;
                border-style: none solid none none;
            }
        }

            .price{
                font-size:4rem;
                font-family: 'Kaushan Script', cursive;
            }
    
            .shoppingCart{
                @include color(background,#e1ece5);
                @include buttonNumber();
                border-radius: 10px;
                margin-right: 30px;
            }
        }
    }

    .container_columnTwo_card {
        @include color(background,$backgroundgraylight);
        @include tailleCartes();
        border-radius: $borderRadius;
        margin-bottom: 30px;
        text-align:$center;

        &_picture {
            width: $sizepictureMedium;
            display: block;
            @include margin();
        }

        &_title{
            text-align: $center;
            margin: $marginTextBurger;

        }
    
        &_text{
            text-align: $center;
            margin: $marginTextBurger;
        }
    }

    .container_columnThree_card {
        @include color(background,$backgroundgraylight);
        @include tailleCartes();
        border-radius: $borderRadius;
        margin-bottom: 30px;

        &_picture {
            width: $sizepictureMedium;
            display: block;
            @include margin();
        }

        &_title{
            text-align: $center;
            margin: $marginTextBurger;
        }
    
        &_text{
            text-align: $center;
            margin: $marginTextBurger;
        }
    }
}    

}